/* Created by: Shyla Oommen
* Created on: May 2023
* This CSS file defines the style for index.html
* ICS2O-Programming-Assign-04-PHP-SaladOrder
*/

body {
  background-color: #93c572
}

h3 {
  background-color: #98fb98;
  text-align: center;
  border: 2px solid #2e8b57;
  color: black;
  margin-left: 100px;
  margin-right: 100px;
}

h5, h6 {
  background-color: #98fb98;
  text-align: center;
  border: 2px solid #2e8b57;
  color: black;
  margin-left: 100px;
  margin-right: 100px; 
}

h1 {
  background-color: #98fb98;
  text-align: center;
  border: 2px solid #2e8b57;
  color: black;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 100px;
}

#results {
  background-color: #98fb98;
  text-align: center;
  border: 2px solid #2e8b57;
  color: black;
  margin-left: 100px;
  margin-right: 100px; 
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}
